body { background-color: #879306;

}

header { width:97%; margin:0 auto; }

header img { width:98%}

nav ul li{ list-style:none;
display:inline-block

}  
section div  { display:inline-block; width:30%; margin-left:20px; margin-top:20px; text-align:center}

section, aside { display:inline-block; height:900px}

section{ width:72%; display:inline-block; vertical-align:top; background-color:#fff}

aside{ width:25%;  background-color:#fff; padding:10px; box-sizing:border-box}

footer div  { width:37%; display:inline-block; vertical-align:top; }
footer { width:97%; background-color:grey; padding:20px; box-sizing:border-box }

footer img{ width:60%; height:320px; padding:15px; float:left} 
footer p { width:30%;display:inline-block;  vertical-align:top; }
.box1{ width:25%}
.box1 img { width:270px; height:80px; padding:0 0 15px 0}







 

 